.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
body{
    background: black;
    margin: 0;
    padding: 0;
}
.topNavBar{
    padding: 28px 14px 28px 14px;
}
.topNavBar>nav>ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.topNavBar>nav>ul>li{
    float: left;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.topNavBar>nav>ul>li>a{
    text-decoration: none;  
    font-size: 12px;
    font-weight: bold;
    color:rgba(255, 255, 255, 0.7);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-bottom: 9px;
    padding-top: 9px;
    display: block;
}
.topNavBar>nav>ul>li>a:hover{
    border-bottom: 3px solid #E8676B;
}
.topNavBar .logo{
    float: left;
    text-decoration: none;
    font-size: 28px;
    font-family: "Hiragino Kaku Gothic Std";
    font-weight: bold; 
    padding-top: 2px;
    padding-bottom: 2px;
}
.topNavBar .logo .rs{
    margin-right: 6px;
    color: #E8676B;
}
.topNavBar .logo .card{
    color: #9A9DA2;
}