.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
body{
    background: white;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,hr,p,dd,dt{
    padding: 0;
    margin: 0;
}
hr{
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}
.topNavBar{
    padding-top: 28px;
    padding-bottom: 28px;
    position: fixed;
    width: 100%;
}
.topNavBar .logo{
    float: left;
    text-decoration: none;
    font-size: 28px;
    font-family: "Hiragino Kaku Gothic Std";
    font-weight: bold; 
    padding-top: 2px;
    padding-bottom: 2px;
}
.topNavBar .logo .rs{
    margin-right: 6px;
    color: #E8676B;
}
.topNavBar .logo .card{
    color: #9A9DA2;
}
.topNavBar .topNavBar-inner{
    padding-left: 14px;
    padding-right: 14px;
}
.banner{
    background-image: url(./img/rs-cover.jpg);
    height: 645px;
    background-position: center center;
    background-size: cover;
}
.banner .mask{
    height: 645px;
    background: rgba(0, 0, 0, 0.7);
}
.topNavBar nav>ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}
.topNavBar nav>ul>li{
    float: left;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.topNavBar nav>ul>li>a{
    text-decoration: none;  
    font-size: 12px;
    font-weight: bold;
    color:rgba(255, 255, 255, 0.7);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-bottom: 9px;
    padding-top: 9px;
    display: block;
}
.topNavBar nav>ul>li>a:hover{
    border-bottom: 3px solid #E8676B;
}
.userCard{
    border: 1px solid red;
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    
}
.userCard .pictureAndText{
    padding: 57px 50px 15px 50px;
    border: 1px solid green;
}
.userCard .pictureAndText .text .welcome{
    background: #E8676B;
    color: white;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 12px;
    line-height: 19.2px;
    position: relative;
}
.userCard .picture{
    float: left;
}
.userCard .text{
    float: left;
    padding-left: 60px;
    width: 471px;
}
.userCard .text p{
    font-size: 18px;
}
.userCard .text hr{
    margin: 20px 0;
}
.userCard .text h1{
     padding-top: 28px;
     padding-bottom: 5px;
     font-size: 36px;
}
.userCard dl dt,
.userCard dl dd{
    float: left;
    padding-bottom: 18px;  
}
.userCard dl dt{
    width: 30%;
    font-size: 12px;
    color: #333333;
    font-weight: bold;
}
.userCard dl dd{
    width: 70%;
    font-size: 15px;
    color: #9DA0A7;
}
.userCard .welcome .triangle{
    display: block;
    border: 8px solid transparent;
    width: 0px;
    height: 0px;
    border-left-color: #E8676B;
    border-top-width: 0;
    position: absolute;
    top: 100%;
    left: 5px;
}
.userCard .media{
    background: #E8676B;
    border: 1px solid royalblue;
}
