body{
    background: white;
    color: black;
}
a{
    text-decoration: none;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topNavBar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 0 20px 0;
}
.topNavBar>nav{
    float: right;
    font-size: 13px;
    padding-top: 20px;
    
}
.topNavBar>a{
    float: left;
}
.topNavBar>nav>ul{
    list-style: none;
}
.topNavBar>nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.topNavBar>nav>ul>li>a{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    border-bottom: solid 3px transparent;
    padding-top: 5px;
    padding-bottom: 9px;
}
.topNavBar>nav>ul>li>a:hover{
    page-break-after: 14px;
    border-bottom: solid 3px tomato;
    
}
.topNavBar .logo{
    font-weight: bold;
    font-family: "Hiragino Kaku Gothic Std";
    padding-top: 24px;

}
.topNavBar .logo .rs{
    color: #e8676b;
    font-size: 26px;
    margin-right: 6px;
}
.topNavBar .logo .card{
    color: #9A9DA2;
    font-size: 21px;
}
.banner{
    height: 515px;
    background-position: center center;
    background-size: cover;
    background-image: url(./img/rs-cover.jpg);
}
.banner .mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8);
  }